// COLORS

$color-primary: #273c75;
$color-primary-light: #40739e;
$color-primary-dark: #192a56;

$color-secondary-light: #e84118;
$color-secondary-dark: #c23616;

$color-tertiary-light: #fbc531;
$color-tertiary-dark: #e1b12c;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #dcdde1;
$color-grey-light-2: #eee;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT

$default-font-size: 1.6rem;

// BORDER RADIUS

$default-border-radius: 3px;